/* style common to all pages */
body {
	margin: auto;
	background: black;
	font-family: monospace;
}

body, hr {
	color: #dfdfdf;
}

header {
	padding-top: 10px;
}

header > h1 {
	font-size: 2.5rem;
	text-align: center;
	color: #70966c
}

h2 {
	font-size: 1.5rem;
	margin-top: 8px;
	margin-bottom: 8px;
}

ul {
	list-style-type: square;
}

main {
	margin: auto;
	font-size: 0.92rem;
}

nav {
	text-align: center;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-family: monospace;
	font-size: 0.85rem;
}

main, nav, footer {
	max-width: 850px;
}

a { text-decoration: none; }
a:link { color: #9fc7ea; }
a:visited { color: #9fc7ea; }
a:hover { color: #6f97ba; }

nav ul {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

footer {
	margin-top: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media (max-width: 55em) {
	body {
		max-width: 95%;
	}
}

@media (max-device-width: 500px) {
	header h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	main {
		font-size: 2.0rem;
	}
	nav {
		font-size: 1.5rem;
	}
	footer {
		font-size: 2rem;
	}
	main {
		max-width: 95%;
	}
	nav, footer, hr {
		max-width: 100%;
	}
}
