/* index.html */
.left {
	float: left;
	width: 60%;
}

.right {
	float: right;
	width: 30%;
	margin-top: auto;
	margin-right: 2%;
	margin-bottom: auto;
}

.recent > ul {
	padding: 0px 0px 0px 0px;
	list-style-position: inside;
	list-style-type: square;
}

.recent > ul > li {
	padding-bottom: 5px;
}

img.profile {
	margin: 0;
	padding-top: 20px;
	width: 100%;
}

@media (max-width: 55em) {
	.left , .right {
		float: none;
	}
	.left {
		width: 100%;
	}
	.right {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-device-width: 500px) {
	.left , .right {
		float: none;
	}

	.left {
		width: 100%;
	}
	.right {
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
