HTML {
	font-size: unset;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	margin: auto;
	background: black;
	font-family: monospace;
}

body, hr {
	color: #dfdfdf;
}

header {
	padding-top: 10px;
}

header > h1 {
	font-size: 28pt;
	text-align: center;
	color: #70966c
}

h2 {
	font-size: 18pt;
	margin-top: 8px;
	margin-bottom: 8px;
}

ul {
	list-style-type: square;
}

main {
	margin: auto;
	font-size: 11pt;
}

nav {
	text-align: center;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-family: monospace;
	font-size: 10pt;
}

main, nav, footer {
	max-width: 850px;
}

/* title as it appears in the index */
.article-title {
	font-size: 13pt;
	padding-bottom: 5px;
}

.article-date {
	font-size: 9pt;
	padding-bottom: 10px;
}

a { text-decoration: none; }
a:link { color: #9fc7ea; }
a:visited { color: #9fc7ea; }
a:hover { color: #6f97ba; border-color: #6f97ba; }

nav ul {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

nav a {
	border-color: #9fc7ea;
	border-style: none none solid none;
	border-width: 1pt;
	margin: 1pt;
	padding: 2pt;
}

footer {
	margin-top: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-list > ul {
	padding: 0px 0px 0px 20px;
	list-style-position: outside;
	list-style-type: square;
}

@media (max-width: 55em) {
	main , hr {
		max-width: 95%;
	}
}

/* index.html */
.left {
	float: left;
	width: 60%;
}

.right {
	float: right;
	margin: auto;
	max-width: 255px;
}

img.profile {
	padding-top: 20px;
	max-width: 255px;
}

@media (max-width: 55em) {
	.left , .right {
		float: none;
	}
	.left {
		width: 100%;
	}
	.right {
		display: block;
		margin: auto;
	}
}
