body {
	margin: auto;
	background: black;
	font-family: monospace;
}

body, hr {
	color: #dfdfdf;
}

header {
	padding-top: 10px;
}

header > h1 {
	font-size: 2.5rem;
	text-align: center;
	color: #70966c
}

h2 {
	font-size: 1.5rem;
	margin-top: 8px;
	margin-bottom: 8px;
}

ul {
	list-style-type: square;
}

main {
	margin: auto;
	font-size: 0.92rem;
}

nav {
	text-align: center;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-family: monospace;
	font-size: 0.85rem;
}

main, nav, footer {
	max-width: 850px;
}

/* title as it appears in the index */
.article-title {
	font-size: 1rem;
	padding-bottom: 5px;
}

.article-date {
	font-size: 0.8rem;
	padding-bottom: 10px;
}

a { text-decoration: none; }
a:link { color: #9fc7ea; }
a:visited { color: #9fc7ea; }
a:hover { color: #6f97ba; }

nav ul {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

footer {
	margin-top: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.article-list > ul {
	padding: 0px 0px 0px 20px;
	list-style-position: outside;
	list-style-type: square;
}

@media (max-width: 55em) {
	body {
		max-width: 95%;
	}
}

@media (max-device-width: 500px) {
	header h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	main {
		font-size: 2.0rem;
	}
	nav {
		font-size: 1.5rem;
	}
	footer {
		font-size: 2rem;
	}
	main {
		max-width: 95%;
	}
	nav, footer, hr {
		max-width: 100%;
	}
	.article-title {
		font-size: 2.5rem;
		padding-bottom: 15px;
	}
	.article-date {
		font-size: 1.5rem;
		padding-bottom: 25px;
	}
	.article-list > ul {
		padding: 0px 0px 0px 3vw;
	}
}

/* index.html */
.left {
	float: left;
	width: 60%;
}

.right {
	float: right;
	width: 30%;
	margin-top: auto;
	margin-right: 2%;
	margin-bottom: auto;
}

img.profile {
	margin: 0;
	padding-top: 20px;
	width: 100%;
}

@media (max-width: 55em) {
	.left , .right {
		float: none;
	}
	.left {
		width: 100%;
	}
	.right {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-device-width: 500px) {
	.left , .right {
		float: none;
	}

	.left {
		width: 100%;
	}
	.right {
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
